:root {
    --primary-color: #98c5e2;
    --secondary-color: #114a2d;
    --accent1-color: #133986;
    --accent2-color: #ffffff;
}

body {
    max-width: 840px;
    margin: 0 auto;
    background-color: var(--primary-color);
}

h1, h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 550;
    font-size: 50px;
    color: var(--accent1-color);
}

p {
    font-family: "Roboto", sans-serif;
    color: var(--accent1-color)
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px 0 80px;
}

header img {
    width: 150px;
    height: auto;
    object-fit: cover;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    border: 1px solid black;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}

.hero {
    position: relative;
}

.heroimg {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: 50px;
    right: 70px;
    opacity: 1;
    background-color: #15313a80;
    padding: 0 200px 0 200px;
    color: var(--accent2-color);
}

.hero article {
    position: absolute;
    bottom: 250px;
    left: 70px;
    margin-right: 20px;
    opacity: 1;
    background-color: #15313a80;
}

.hero article img {
    float: right;
    width: 150px;
    height: auto;
    object-fit: cover;
}

.hero article p {
    color: var(--accent2-color)
}

section {
    margin-top: 40px;
}

section h2 {
    text-align: center;
    margin-bottom: -2px;
}

.history {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.history img {
    width: 150px;
    height: auto;
    object-fit: cover;
    margin-left: 20px;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
}


.adventure img {
    width: 80px;
    height: 60px;
    object-fit: cover;
}


footer {
    display: grid;
    grid-template-columns: 1fr 100px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 0 50px;
}

footer p {
    text-align: center;
    font-size: 0.8rem;
}

.sociallinks a {
    text-decoration: none;
}

.sociallinks img {
    width: 20px;
    height: auto;
    object-fit: cover;
}