* {
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}


:root {
    --base-color: darkblue;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: lightblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--base-color);
}

h1 {
    color: var(--base-color);
    margin: 1rem;
    border-bottom: 1px solid var(--base-color);
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
    margin-left: 1rem;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    position: relative;
    width: 20em;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    color: rgb(58, 57, 57);
    top: 57px;
    left: 150px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
}

ul a {
    color: var(--base-color)
}

/* Class Selectors */

.box {
    margin: 1rem;
    margin-top: 2rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: lightblue;
    color: var(--base-color);
}

.indent {
    padding: 2rem;
}

.grid {
    display: grid;
}