.callout {
	max-width: ;
    margin: ;
    border: ;
    padding: ;
    background-color: ;
    text-decoration: ;
}

.callout img {
	position: ;
    margin: ;
    border: ;
    padding: ;
    background-color: ;
    width: ;
    height: ;
}

blockquote {
	margin: ;
}

cite {
	display: ;
    top border: ;
    text-align: ;
    font-size: ;
}